* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    height: 640px;
    width: 100%;
    background: #000;
    display: flex;
    flex-direction: column;
    color: white;

}

#navParent {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    height: 40px;
    margin-bottom: 10px;
}

#navChild2 button {
    height: 30px;
    font-size: 15px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background: #363333;
    color: white;
    cursor: pointer;
}

section {
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    gap: 20px;
    padding-bottom: 10px;
}

.sectionTaskColumn {
    width: 380px;
    background-color: #232222;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 480px;
    box-sizing: border-box;
    flex-grow: 1;
}

.sectionTaskColumn.hover-over {
    border: 2px dashed white;
     transform: scale(1.02);
    transition: transform 120ms ease;
}

.sectionNavBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    height: fit-content;
}

.taskSection {
    height: fit-content;
    border-radius: 20px;
    background: #333232;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 2px;
    cursor: grab;
    margin-bottom: 12px;  
}

.taskSection button {
    width: 80px;
    height: 25px;
    background: red;
    border: none;
    align-items: end;
    border-radius: 10px;
    align-self: flex-end;
    cursor: pointer;
}
.taskSection.dragging {
    opacity: 0.6;
    box-shadow: 0 6px 18px rgba(0,0,0,0.6);
}
.taskSection h2,
.taskSection p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word; 
    white-space: normal;      
}

.modal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.shown{
    display: flex;
}
.modal .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(61, 61, 61, 0.404);
    backdrop-filter: blur(5px);
    z-index: 5px;
}
.modal .center{
    background: #3d3c3c;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    z-index: 10;
}
.modal .center input , .modal .center textarea,.modal .center select{
    background: #232222;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

@media (max-width: 700px) {
    section {
        margin-top: 20px;
        flex-direction: column; 
        align-items: center;    
        gap: 15px;
    }

    .sectionTaskColumn {
        padding: 20px;
        width: 90%;
    }
}
